<a href="https://colab.research.google.com/github/melvinsackaria/DeepLearning/blob/main/code_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
l=[5,7,3,2,0,1]
n=[]
while l:
  min=l[0]
  for x in l:
    print("X is : "+str(x))
    if x<min:
      #print("x: "+str(x))
      min=x
  print("min:   "+str(min))   
  l.remove(min)
  n.append(min)
print(n)

X is : 5
X is : 7
X is : 3
X is : 2
X is : 0
X is : 1
min:   0
X is : 5
X is : 7
X is : 3
X is : 2
X is : 1
min:   1
X is : 5
X is : 7
X is : 3
X is : 2
min:   2
X is : 5
X is : 7
X is : 3
min:   3
X is : 5
X is : 7
min:   5
X is : 7
min:   7
[0, 1, 2, 3, 5, 7]

In [ ]:
l=[2,1,5,4,7,5,9,3]
l.reverse()
print(l)
str1="madam"
print(''.join(str1))
#OR
str2 = reversed(str1)
print(type(str2))
for x in str1:
  print(x)
#OR

[3, 9, 5, 7, 4, 5, 1, 2]
madam
<class 'reversed'>
m
a
d
a
m

In [ ]:
str3 = "madam"

print(str3[::-1])

for x in str3:
  print(x)
print("--------------")
for x in str3[::-1]:
  print(x)

madam
m
a
d
a
m
--------------
m
a
d
a
m

In [ ]:
str3 = "madam"
for x in str3:
  if all(x!=y for y in str3[::-1]):
    print("xtrea")
print("y")

y

In [ ]:
x=[1,2,3,4,5,6,4,3,1]
for i in x:
  print(set(x for x3))

In [ ]:
for num in range(100,200):
    if all(num%i !=0 for i in range (2,num)):
        print(num)

101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199