<a href="https://colab.research.google.com/github/melvinsackaria/DeepLearning/blob/main/patterns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print(range(6))
print(range(1,6))

range(0, 6)
range(1, 6)

In [ ]:
string="Melvin"
string[0].isdigit()

False

In [ ]:
import re

# String
my_string = "100 houses"

# Search if start with a number
reg = re.search('^\s*[0-9]',my_string)

# Print result
print(reg)

<re.Match object; span=(0, 1), match='1'>

In [ ]:
text = "programming is easy"
result = text.startswith(('python1', 'programming'))

# prints True
print(result)

result = text.startswith(('is', 'easy', 'java'))

# prints False
print(result)

# With start and end parameter
# 'is easy' string is checked
result = text.startswith(('programming', 'easy'), 12, 19)

# prints False
print(result)

True
False
False

In [ ]:
k=6
for i in range(k):
  print(i)

0
1
2
3
4
5

In [ ]:
k=6
for i in range(k):
  print(k)

6
6
6
6
6
6

In [ ]:
k=6
for i in range(1,k):
  print(k)

6
6
6
6
6

In [ ]:
k=7
for i in range(1,k):
  print("x"*i)
print("-----------------------")
for i in range(k):
  print("x"*i)

x
xx
xxx
xxxx
xxxxx
xxxxxx
-----------------------

x
xx
xxx
xxxx
xxxxx
xxxxxx

In [ ]:
# Function to demonstrate printing pattern
def pypart(n):
    # outer loop to handle number of rows
    # n in this case
    for i in range(0, n):
        # inner loop to handle number of columns
        # values changing acc. to outer loop
        for j in range(0, i+1):
            # printing stars
            print("* ",end="")
        # ending line after each row
        print("\r")
 
# Driver Code
n = 5
pypart(n)

*
* *
* * *
* * * *
* * * * *

for 6 rows , u have to give range (1,7)
if range(6) used first calcultion valueu will be 0

In [ ]:
k=7
for i in range(1,k):
  print("x"*k)
print("-----------------------")
for i in range(k):
  print("x"*k)

xxxxxxx
xxxxxxx
xxxxxxx
xxxxxxx
xxxxxxx
xxxxxxx
-----------------------
xxxxxxx
xxxxxxx
xxxxxxx
xxxxxxx
xxxxxxx
xxxxxxx
xxxxxxx

In [ ]:
k=6
for i in range(k):
  print("x"*(k-i))

xxxxxx
xxxxx
xxxx
xxx
xx
x

In [ ]:
def pyr1(n):
  for i in range (0,n):
    for j in range(n-i):
      print("x",end=" ")
    print("\r")

n=5
pyr1(n)

x x x x x
x x x x
x x x
x x
x

In [ ]:
# Function to demonstrate printing pattern of numbers
def numpat(n):
     
    # initialising starting number
    num = 1
 
    # outer loop to handle number of rows
    for i in range(0, n):
     
        # re assigning num
        num = 1
     
        # inner loop to handle number of columns
            # values changing acc. to outer loop
        for j in range(0, i+1):
         
                # printing number
            print(num, end=" ")
         
            # incrementing number at each column
            num = num + 1
     
        # ending line after each row
        print("\r")
 
# Driver code
n = 5
numpat(n)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
# Function to demonstrate printing pattern of numbers
def numpat(n):
     
    # initialising starting number
    num = 1
 
    # outer loop to handle number of rows
    for i in range(0, n):
     
           
        # inner loop to handle number of columns
            # values changing acc. to outer loop
        for j in range(0, i+1):
         
            # printing number
            print(num, end=" ")
         
            # incrementing number at each column
            num = num + 1
     
        # ending line after each row
        print("\r")
 
# Driver code
n = 5
numpat(n)

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [ ]:
print(range(n, -1 , -1))

range(10, -1, -1)

In [ ]:
def pattern(n):
     k = 2 * n - 2
     for i in range(0, n):
          for j in range(0, k):
               print(end=" ")
          k = k - 2
          for j in range(0, i + 1):
              print("* ", end="")
          print("\r")
  
pattern(5)

        *
      * *
    * * *
  * * * *
* * * * *

In [ ]:
def pattern(n):
      for i in range(n, -1, -1):
           for j in range(0, i + 1):
               print("* ", end="")
           print("\r")
 
pattern(5)

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
def pattern(n):
     k = 2 * n - 2
     for i in range(0, n):
          for j in range(0 , k):
               print(end=" ")
          k = k - 1
          for j in range(0 , i + 1 ):
               print("* ", end="")
          print("\r")
     k = n - 2
     for i in range(n , -1, -1):
          for j in range(k , 0 , -1): 
              print(end=" ")
          k = k + 1
          for j in range(0 , i + 1):
                print("* ", end="")
          print("\r")
 
pattern(5)

        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
    * * * * *
     * * * *
      * * *
       * *
        *

In [ ]:
for i in range(5):
    for j in range(5):
        if i + j == 2 or i - j == 2 or i + j == 6 or j - i == 2:
            print("*", end="")
        else:
            print(end=" ")
    print()

  *
 * *
*   *
 * *
  *

https://www.edureka.co/blog/python-pattern-programs/

In [ ]:
def pattern(n):
     k = n - 2
     for i in range(n, -1 , -1):
       for j in range(k , 0 , -1):
         print(end=" ")
      k = k + 1    
          for j in range(0, i+1):
            print("* " , end="")
          print("\r")
          k = 2 * n  - 2
          for i in range(0 , n+1):
            for j in range(0 , k):
              print(end="")
            k = k - 1
            for j in range(0, i + 1):
              print("* ", end="")
            print("\r")
 
pattern(5)

   * * * * * *
*
* *
* * *
* * * *
* * * * *
* * * * * *
  * * * * *
*
* *
* * *
* * * *
* * * * *
* * * * * *
  * * * *
*
* *
* * *
* * * *
* * * * *
* * * * * *
  * * *
*
* *
* * *
* * * *
* * * * *
* * * * * *
  * *
*
* *
* * *
* * * *
* * * * *
* * * * * *
  *
*
* *
* * *
* * * *
* * * * *
* * * * * *

In [ ]:
numbers = {1, 2, 3, 4}
new_numbers = numbers.copy()

 

print('numbers: ', numbers)
print('new_numbers: ', new_numbers)

numbers:  {1, 2, 3, 4}
new_numbers:  {1, 2, 3, 4}